@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;900&display=swap');

* {
  scroll-behavior: auto !important;
  overflow-anchor: none;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  min-width: auto;
  @media (max-width: 1440px) {
    min-width: 1440px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.list-style {
  list-style-type: disc;
}

